{% set meta = role.meta | default({}) %}
{% if meta %}
## Dependencies

{% if meta | deep_get(meta, "dependencies.value") %}
{% if meta.dependencies.value is mapping %}
{{ meta.dependencies.value.dependencies | to_nice_yaml(indent=0) }}
{% else %}
{{ meta.dependencies.value | to_nice_yaml(indent=0) }}
{% endif %}
{% else %}
None.
{% endif %}
{% if license | deep_get(meta, "license.value") %}

## License

{{ meta.license.value }}
{% endif %}
{% if author | deep_get(meta, "author.value") %}

## Author

{{ meta.author.value | save_join(" ") }}
{% endif %}
{% endif %}
