## Table of contents

- [Requirements](#requirements)
{% set var = role.var | default({}) %}
{% if var %}
- [Default Variables](#default-variables)
{% if not options.tabulate_vars %}
{% for key, item in (var | dictsort if options.sort_vars else var.items()) %}
  - [{{ key }}](#{{ key }})
{% endfor %}
{% endif %}
{% endif %}
{% if tag %}
- [Discovered Tags](#discovered-tags)
{% endif %}
{% if todo %}
- [Open Tasks](#open-tasks)
{% endif %}
- [Dependencies](#dependencies)
- [License](#license)
- [Author](#author)

---
