{% set meta = role.meta | default({}) %}
# {{ name | deep_get(meta, "name.value") | default("_undefined_") }}
{% if description | deep_get(meta, "description.value") %}

{{ description | deep_get(meta, "description.value") }}
{% endif %}

{#      Vars      #}
{% include '_vars.j2'  %}

{#      Meta      #}
{% include '_meta.j2'  %}
