{% set meta = role.meta | default({}) %}
{% if meta %}
## Dependencies

{% if meta | deep_get(meta, "dependencies.value") %}
{% if meta.dependencies.value is mapping %}
{{ meta.dependencies.value.dependencies | to_nice_yaml(indent=0) }}
{% else %}
{% for line in meta.dependencies.value %}
{{ line }}
{% endfor %}
{% endif %}
{% else %}
None.
{% endif %}
{% endif %}
