{% set meta = role.meta | default({}) %}
{% if meta %}
## Dependencies

{% if meta | deep_get(meta, "dependencies.value") %}
{% if meta.dependencies.value is mapping %}
{% set deps = meta.dependencies.value.dependencies %}
{% else %}
{% set deps = meta.dependencies.value %}
{% endif %}
{% for item in deps %}
- {{ item }}
{% endfor %}
{% else %}
None.
{% endif %}
{% endif %}
